body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
      display: flex;
      flex-wrap: wrap;
      width: 512px; 
      margin: 30px auto;
    }

.cell{
    width: 30px;
    height: 30px;
    margin: 1px;
    box-sizing: border-box;
    background-color: black;
}

button{
    background-color: red;
    color: white;
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;


}